.container {
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 33.3%);
	grid-template-rows: 100px 100px;
	gap: 20px 10px;
	border: 1px solid red;
	//不生效啊
	// justify-content: start;
	// align-content: start;
	justify-items: center;
	align-items: center;
	> div {
		width: 200px;
		height: 100%;
		border: 1px solid #333;
		// justify-self: center;
		// align-self: center;
		//换成项目flex
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
